{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- styles block -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Welcome to Pitches!!</h2>
  <p>Creat a compelling pitch to waoow your audience</p>
  <a href="/pitch/new/{{current_user.id}}"><button class="btn-primary">Create a new pitch</button></a>
</div>
<hr>
<!-- <div class="row text-center nav nav-tabs" id="myTab" role="tablist">
  <a href="#all"><button type="button" class="btn btn-success nav-item">All
      Pitches</button></a>
  <a href="#int"><button type="button" class="btn btn-success nav-item">Interview
      Pitch</button></a>
  <a href="#tech"><button type="button" class="btn btn-success nav-item">Technology Pitch</button></a>
  <a href="#pick"><button type="button" class="btn btn-success nav-item">Pickup lines</button></a>
  <a href="#promo"><button type="button" class="btn btn-success nav-item">Promotion Pitch</button></a>
</div> -->
<div class="tab-content" id="myTabContent">
  <div class="container tab-pane active" id="all"><br>
    {{ macro.display(pitches) }}
  </div>
  <div class="container tab-pane fade" id="int"><br>
    {{ macro.display(interview)}}
  </div>
  <div class="container tab-pane fade" id="tech"><br>
    {{ macro.display(tech) }}
  </div>
  <div class="container tab-pane fade" id="pick"><br>
    {{ macro.display(pickup) }}

  </div>
  <div class="container tab-pane fade" id="promo"><br>
    {{ macro.display(promotion) }}

  </div>
</div>
<!-- <div class="bg">
  <h1><u>Category</u></h1>
  <h2><b>{{category}}</b></h2>
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <a href="/pitch/new">Create a new pitch</a>
</div> -->
<div class="row">
  <div class="col-md-7 bg">

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <h3><u>The art of pitching</u></h3>
    <p>“Good enough isn’t good enough. Because good enough will leave you in the middle of the pack.”</p>
    <p>“Take some time and figure out how to sell it. Apply the same creativity and energy that went into creating the
      work to selling the work. Do an ad for your ads.”</p>
    <div class="txt text-right">~Peter Coughter</div>
  </div>
</div>
<h1><u>Category</u></h1>
<h2><b>{{category}}</b></h2>
<h3>{{title}}</h3>
<p>{{description}}</p>
<a href="/pitch/new/{{current_user.id}}">Create a new pitch</a>
{% endblock %}