{% macro display(pitches, logged_user, disabled=False) %}
<div class="container-fluid">
  <div class="row">
    {% if pitches %}
    {% for pitch in pitches %}
    <div class="col-md-4">
      <div class="thumbnail">
        <h5 class="card-header"><a href="/pitch/comment/new/{{pitch.id}}"><button class="btn btn-success"
              style="width:100%">PitchTitle:{{pitch.title}}</button></a>
        </h5>
        <div class="card-body">
          <p>Pitch:{{pitch.description}}</p>
          <p> <b>pitch-category:</b> {{pitch.category}}</p>
          {% if logged_user.is_authenticated %}
          {% if logged_user.has_liked_post(pitch) %}
          <a href="{{url_for('.like_action',pitch_id=pitch.id, action='unlike')}}"><button
              class="btn btn-primary">Unlike</button></a>
          {% else %}
          <a href="{{url_for('.like_action',pitch_id=pitch.id, action='like')}}"><button
              class="btn btn-primary">Like</button></a>
          {% endif %}
          {{pitch.likes.count()}} likes
          {% else %}
          {{pitch.likes.count()}}likes
          {% endif %}
          <a href="/pitch/comment/new/{{pitch.id}}"><button class="btn btn-primary text-right">Add coment</button></a>
          <footer class="blockquote-footer text-right text-muted"> <b>Posted by:</b> ~ {{pitch.pitch.username}}</footer>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="card w-90 mb-2">
      <div class="card-body">

        <p class="card-title">pitch Has 0 posts</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

<!-- Displaying comment macro -->
{% macro displayComments(comment_list) %}
{% for comment in comment_list %}
<div class="row">

  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4 comment-card">
    <h4>Author</h4>
    <!-- <h2>{{comment.title}}</h2> -->
    <p>{{comment.user.username}}</p>
  </div>

  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
    <h2><a href="{{url_for('main.single_comment',id=comment.id)}}">{{comment.description}}</a></h2>
  </div>

</div>
{% endfor %}
{% endmacro %}