{% extends 'base.html' %}
{% import  "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="col-md-6">
    <div class="thumbnail">
      <button class="btn btn-success" style="width:100%">PitchTitle:{{pitch.title}}</button></a>
      <p class="h3">{{pitch.description}}</p>
    </div>

    {% for comment in comment_pitch %}
    <h2>{{comment.description}}</h2>
    {% endfor %}

  </div>
  <div class="col-md-6">
    {{wtf.quick_form(comment_form)}}
    {{simplemde.load}}
  </div>
</div>
{% endblock %}